{% extends "base.html" %}

{% block content %}
<div class="p-5 text-center bg-image mt-5 masked" style="
background-image: url('static/contact.avif');
height: 300px;
background-size: cover;
background-position: center;
">
    <div class="container text-center pt-5 text-white " >
        <h1>Om os</h1>
    </div>
</div>

<div class="container text-center pt-5">
    <div class="row align-items-start">
      <div class="col">
      
      </div>
      <div class="col-9 col-md-8 mb-5">
        <p>LC AutoEl-Teknik er en selvstændig mekanikervirksomhed drevet af Lasse Heide Christensen. Vi tilbyder et bredt udvalg af autoelektriske reparationer og vedligeholdelse af biler. Vores fokus er på at levere kvalitetsarbejde og pålidelig service, så du som kunde kan få din bil tilbage på vejen hurtigt og effektivt.

          Som en enkeltmandsvirksomhed har vi et tæt forhold til vores kunder, og vi stræber altid efter at levere den bedste service til den rette pris. Vi arbejder med alle bilmærker og tilbyder alt fra fejlfinding og reparationer til montering af dæk og fælge.
          
          Vores mål er at gøre det nemt for vores kunder at få deres bil repareret og vedligeholdt, samtidig med at vi skaber et højt niveau af kundetilfredshed og tillid.</p>
      </div>
      <div class="col">
        
      </div>
    </div>
</div>
{% endblock %}